html,
body {
    background-color: #171717;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.part1bgr {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("res/backgr.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    font-size: 180px;
}

h2 {
    font-size: 24px;
}



a {
    text-decoration: none;
    color: #ffffff;
}


ul {
  list-style-type: none;
  margin: line-height;
  padding: 0;
  overflow: hidden;
  position: fixed;
  font-size: 26px;
  padding-left: 34.5%;
  text-align: center;
 
  
}


li {
  float: left;
  padding-left: 0%;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 33%;
  padding: 27px 11px;
  text-shadow: none;
  
  
}

li a:hover {
  text-shadow: 2px 2px #6700c7;
}


.formpos{
  margin-left: -1.8%;
  width: 50%;
  padding: 10px;
  height:60%;
  margin-top: -5%;

}

.contacttext{
    margin-top:10%;
    margin-right:52%;
    font-size: 60px;
}
.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #6700c7;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:600px;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #6700c7; }
  
  textarea {
    height: 300px;
    line-height: 150%;
    resize:vertical;
    width: 20%;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 50%;
    background:#6700c7;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#5c00b3; }